.MessageBox{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: "Poppins", sans-serif;
    margin-bottom: 35px;
}

.MessageHeader{
}

.MessageIcon{
    margin-right: 10px;
}
.Message{

}

.MessageSender{
    display: inline-block;
    font-size: 24px;
    margin-right: 5px;
}

.MessageTime{
    display: inline-block;
    font-size: 12px;
    color: #8e8e8e;
    margin-left: 5px;
}

.MessageText{

}