.container {
  min-width: 264px;
  height: 100%;
  display: flex;
  flex-direction: column;
  & > .banner {
    width: 100%;
    height: 135px;
    background: #292929;
    position: relative;
    margin-bottom: 24px;
    & > .shadowing {
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 100%
      );
    }
    & > .title {
      top: 15px;
      left: 15px;
      position: absolute;

      font-size: 18px;
      font-weight: 700;
      line-height: 27px;
    }
    & > .image {
      width: 100%;
      height: 100%;
    }
  }
  & > .wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    & > .category {
      margin-left: 10px;
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
    }
    & > .container {
      gap: 8px;
      width: 100%;
      display: flex;
      align-items: center;
      & > .active {
        background-color: #333333 !important;
      }
      & > .channel {
        cursor: pointer;
        &:hover {
          background-color: #222222;
        }
        display: flex;
        align-items: center;
        gap: 11px;
        width: calc(100% - 20px - 30px);
        height: 32px;
        border-radius: 5px;
        padding-inline: 15px;
        & > .title {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          & > .notification {
            border-radius: 100%;
            background-color: #ff4646;
            width: 8px;
            height: 8px;
          }
          & > .name {
            font-family: 'Oswald';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            /* identical to box height */
            color: #aaaaaa;
          }
        }
      }
    }
  }
}
