@mixin divider {
  width: 101px;
  height: 1px;
  background-color: #595959;
}

@mixin disappear {
  visibility: hidden;
  opacity: 0;
  height: 0 !important;
  width: 0 !important;
  min-width: 0 !important;
  max-width: 0 !important;
  padding: 0 !important;
}

.collapsed {
  min-width: 99px !important;
  width: 99px !important;

  & > .wrapper {
    & > .collapse {
      rotate: 180deg;
    }
    & > div {
      & > .server_container {
        gap: 0 !important;
        & > .title {
          @include disappear;
        }
      }
    }
    & > div {
      & > .divider {
        width: 49px !important;
      }
    }

    & > .details {
      & > .down_bar {
        & > .left {
          gap: 0 !important;
          & > .user {
            @include disappear;
          }
        }
      }
    }

    & > .input_wrapper {
      & > input {
        @include disappear;
        visibility: visible !important;
      }
      & > div {
        cursor: pointer;
      }
    }
  }
}

.container {
  min-width: 305px;
  width: 305px;
  height: 100%;
  background-color: #111111;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;

  * > * {
    transition: all 0.5s ease;
  }

  & > .wrapper {
    width: calc(100% - 50px);
    margin-block: 25px;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: 25px;
    flex-direction: column;
    position: relative;

    & > .collapse {
      &:hover {
        scale: 1.2;
      }
      cursor: pointer;
      position: absolute;
      right: calc(-25px - 13px);
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 26px;
      height: 26px;
      outline: none;
      border: none;
      border-radius: 100%;
      background-color: #ff4646;
      z-index: 100;
      bottom: 10px;
      transition: all 0.5s ease;
    }

    & > .current {
      display: flex;
      flex-direction: column;
      gap: 15px;

      & > .divider {
        @include divider;
      }
    }

    & > .servers {
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    & > .input_wrapper {
      cursor: text;
      height: 40px;
      background-color: #1c1c1c;
      border-radius: 5px;
      display: flex;
      & > input {
        width: 100%;
        height: 100%;
        background-color: transparent;
        outline: none;
        border: none;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 700;
        padding-left: 15px;
      }
      & > div {
        width: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    & > .details {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;

      & > .divider {
        @include divider;
      }

      & > .down_bar {
        height: 49px;
        width: 100%;

        & > .left {
          height: 100%;
          width: 100%;
          display: flex;
          gap: 20px;

          & > img {
            border-radius: 100%;
            width: 49px;
            height: 100%;
          }

          & > .user {
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;

            & > .username {
              font-family: Oswald;
              font-size: 16px;
              font-weight: 700;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffd9d9;
            }

            & > .status {
              font-family: Oswald;
              font-size: 12px;
              font-weight: 400;
              line-height: 18px;
              letter-spacing: 0em;
              text-align: left;
              color: #595959;
            }
          }
        }
      }
    }
  }
}

.server_container {
  display: flex;
  gap: 20px;

  & > .icon {
    width: 49px;
    height: 49px;
    background: #1c1c1c;
    border-radius: 100%;
    outline: none;
  }

  & > .title {
    & > .name {
      height: 27px;
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 27px;
    }

    & > .users {
      display: flex;

      & > div {
        width: 10px;

        & > img {
          width: 15px;
          height: 15px;
          border-radius: 100%;
        }
      }
    }
  }
}
