$black: #15151c;
$white: white;

// fonts colors
$font-color-primary: $white;
$font-color-secondary: $black;

// Application colors
$servers-sidebar-bg: #15151c;
$main-sidebar-bg: rgba(21, 21, 28, 0.97);
$application-bg: rgba(21, 21, 28, 0.95);
$wrapper-bg: $white;

// Application sizing
$servers-w: 72px;
$navbar-h: 48px;
$navbar-w: calc(100% - $servers-w);
