@import "../../../styles/utilities/_variables.scss";
@import "../../../styles/utilities/_mixins.scss";

.container {
  width: 100vw;
  height: calc(100vh - 48px);
  display: grid;
  grid-template-columns: 72px 240px calc(100% - 552px) 240px;
  grid-template-rows: 48px 100%;
  background-color: white;
}
.servers_sidebar {
  background-color: $servers-sidebar-bg;
  grid-row: 1 / -1;
}

.server_sidebar,
.members_sidebar {
  background-color: $main-sidebar-bg;
}

.application {
  background-color: $application-bg;
}

.navbar {
  grid-column-start: 2;
  grid-column-end: 5;
  display: grid;
  grid-template-columns: 240px calc(100% - 480px) 240px;
}
.servers_navbar {
  background-color: $main-sidebar-bg;
}
.application_navbar {
  background-color: $application-bg;
}
.members_navbar {
  background-color: $main-sidebar-bg;
}
