@import url('https://use.typekit.net/oet8egg.css');
@import "utilities/variables";

* {
  margin: 0;
  padding: 0;
}

body {
  color: $font-color-primary;
  background-color: $white;
  font-family: Oswald, Helvetica, sans-serif;
  overflow: hidden;
}
