.userIcon {
    position: relative;
    width: 56px;
}
.statusIcon {
    border: 2px solid #121219;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    position: absolute;
    right: 4px;
    bottom: 0px;
}