.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  & > .friends_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    & > .friends {
      width: calc(100% - 50px);
      & > .title {
        width: 100%;
        & > .line {
          width: 100%;
          height: 1px;
          background: #CBCBCB;
          opacity: 0.2;
          margin-top: 10px;
        }
      }
      & > .friend {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background: #15151C;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        min-height: 42px;
        margin-top: 10px;
        & > .leftSide {
          display: flex;
          align-items: center;
          & > h5 {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
          }
          & > img {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            margin-right: 10px;
            margin-left: 15px;
          }
        }
        & > .rightSide {
          display: flex;
          margin-right: 15px;
          & > div:first-child {
            margin-right: 5px;
          }
        }
      }
    }
    & > .friends:last-child {
      margin-top: 25px;
    }
  }
  & > .area {
    height: 100%;
    overflow: hidden auto;
    margin-bottom: 10px;
    & > .messages {
      min-height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      -webkit-box-pack: end;
      & > .message {
        max-width: 729px;
        margin-left: 25px;
        margin-bottom: 10px;
        display: flex;
        gap: 15px;
        & > .first_wrapper {
          height: 100%;
          & > img {
            width: 32px;
            height: 32px;
            border-radius: 100%;
          }
        }
        & > .second_wrapper {
          height: 100%;
          & > .name {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 170%;
          }
          & > .content {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 170%;
            background: rgba(74, 99, 216, 0.2);
            border-radius: 0px 5px 10px 10px;
            padding: 1em;
          }
          & > .multi {
            margin-bottom: 5px;
          }
        }
      }
      & > .welcomer {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        position: relative;
        & > .welcome_blob {
          position: absolute;
          top: -100px;
          right: -70px;
        }
        & > .dog_vector {
          position: absolute;
          bottom: 0;
          right: 25px;
        }
        & > .header {
          display: flex;
          flex-direction: column;
          gap: 10px;
          & > .welcome {
            margin-left: 25px;
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 47px;
          }
          & > .name {
            margin-left: 25px;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
          }
          & > .description {
            margin-left: 25px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            color: rgba(255, 255, 255, 0.7);
          }
          & > .party_vector {
          }
        }
      }
    }
  }
  & > .box {
    background: #212128;
    display: flex;
    justify-content: center;
    max-height: 100%;
    & > .container {
      min-height: 100%;
      width: calc(100% - 50px);
      display: flex;
      flex-direction: row;
      position: relative;
      top: -9px;
      background: #15151c;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      & > .textarea {
        color: white;
        &::placeholder {
          color: #cbcbcb;
        }
        min-height: 100%;
        background-color: transparent;
        width: 100%;
        position: relative;
        left: 0px;
        resize: none;
        outline: none;
        border: none;
        display: flex;
        align-items: center;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 35px;
        padding-left: 15px;
      }
      & > .icons {
        display: flex;
        align-items: center;
        margin-right: 5px;
        gap: 10px;
      }
    }
  }
}
.sendIcon {
  width: 25px;
  height: 25px;
  background: #15151c;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

