$searchConvaMarginBlock: 12px;
$searchConvaMarginInline: 12px;
$searchConvaMarginLeftPadding: 10px;

.LNav {
  height: 100%;
  width: 100%;
  & > button {
    cursor: pointer;
    outline: none;
    width: calc(100% - $searchConvaMarginBlock * 2);
    height: calc(100% - $searchConvaMarginBlock * 2);
    margin-block: $searchConvaMarginBlock;
    margin-inline: $searchConvaMarginBlock;
    background: #15151c;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    padding-left: $searchConvaMarginLeftPadding;
  }
}
.MNav {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  gap: 15px;
  & > .tag {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 15px;
  }
  & > .divider {
    width: 1px;
    height: 12px;
    background: rgba(255, 255, 255, 0.5);
  }
  & > .title {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #ffffff;
    margin-left: 10px;
  }
}
.RNav {
  height: 100%;
  width: 100%;
}
