@import "../../styles/utilities/_mixins.scss";

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  gap: 10px;
  margin-top: 10px;
}

.home {
  @include servers_sidebar_icon;
}

.server {
  @include servers_sidebar_icon;
}

.server > img {
  width: 48px;
  border-radius: 100%;
}
.divider {
  width: 100%;
  display: flex;
  justify-content: center;
}

.divider::after {
  content: "";
  display: block;
  width: 28px;
  height: 1px;
  background: rgba(217, 217, 217, 0.8);
  border-radius: 10px;
}

.add {
  @include servers_sidebar_icon;
  & > div {
    width: 48px;
    height: 48px;
    background-color: #4860D5;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
  }
}
