.channelBar {
  /*position: fixed;*/
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  height: 95px;
    padding: 22px 0;
}
.channelBarContainer {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.barLeft{
    padding: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barRight{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hash {
    /*position: absolute;*/
    left: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    
    display: flex;
    align-items: center;
    
    color: rgba(255, 255, 255, 0.5);
}
.divider {
    /*position: absolute;*/
    left: 75px;
    width: 3px;
    height: 23px;
    margin-right: 35px;
    margin-left: 25px;
    background: rgba(217, 217, 217, 0.3);
}
.name {
    /*position: absolute;*/
    left: 113px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.settings {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 35px;
    /*position: absolute;*/
    /*right: 370px;*/
}
.searchInput {
    /*position: absolute;*/
    width: 317px;
    /*right: 19px;*/
    background-color: rgba(36, 36, 49, 0.4);;
    border-radius: 15px;
    margin-right: 20px;
}