.app {
  color: white;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.appLeft{
  color: white;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.appRight{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.appChat{
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 100%;
}


