.server_navbar {
  height: 100%;
  display: flex;
  align-items: center;
  & > .title {
    cursor: pointer;
    color: white;
    margin-left: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
}
.application_navbar {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  & > .type_tag {
    margin-left: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
  }
  & > .divider {
    width: 1px;
    height: 12px;
    background: rgba(255, 255, 255, 0.5);
  }
  & > .title {
    margin-left: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
  }
}

.members_navbar {
  background-color: red;
}
