.user {
  width: 240px;
  height: 47px;
  display: flex;
  align-items: center;
  background-color: #1a1a22;
}
.user_container {
  display: flex;
  height: 32px;
  width: 100%;
  margin-left: 10px;
}
.avatar {
  height: 32px;
  width: 32px;
  position: relative;
}
.avatar > img {
  height: 32px;
  width: 32px;
  border-radius: 100%;
}
.name {
  width: 100%;
  height: 100%;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name > .username {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;
}
.name > .status {
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.up_container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.down_container {
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.voice {
  width: 100%;
  background-color: red;
  & > * {
    width: 100%;
  }
  & > .channel {
    height: 77px;
    background-color: #15151c;

    & > .container {
      background-color: red;
      width: 100%;
      display: grid;
      gap: 8px;
      & > * {
        width: calc(100%);
      }
      & > .details {
        margin-top: 8px;
        background-color: green;
        height: 29px;
      }
      & > .members {
        height: 24px;
        background-color: blue;
      }
    }
  }
  & > .status {
    background-color: rgba(85, 255, 102, 0.8);
    height: 21px;
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
